/*
Copyright 2022 Adobe
All Rights Reserved.
NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
@use "sass:math";

@import '../styles/variables';

.adventure-detail {
  padding: 0 80px;
  background: $white;
  color: $black;
  button.dark {
    border: none;
    color: inherit;
    padding: 0;
  }

  .adventure-detail-header {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    row-gap: 40px;
    padding-bottom: 40px;
    .adventure-detail-back-nav {
      width: 24px;
      flex-basis: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      column-gap: 15px;
    }
  }
  > div {
    max-width: $max-width;
    margin: 0 auto;
  }
}



.adventure-detail-content, .adventure-detail-header {
  padding: 40px 20%;
}

.adventure-detail-content {
  .adventure-detail-info {
    display: flex;
    background: $lime;
    border-radius: 16px;
    align-items: flex-start;
    padding: 24px 40px;
    column-gap: 80px;
    justify-content: space-evenly;
    margin: 40px 0;
  }
  h6 {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    text-transform: inherit;
    margin: 0 0 8px 0;
  }
  span {
    line-height: 24px;
  }
}
.adventure-detail-title {
  margin: 0;
}

.adventure-detail-content h2 {
  margin-top: 32px;
  padding: 0px;
}

.adventure-detail-primaryimage {
  margin: 0 auto;
  border-radius: 16px;
  aspect-ratio: 16/8;
  width: 100%;
}

.adventure-detail-itinerary h2 {
  font-family: $font-family-base;
  font-weight: bold;
  font-size: $font-size-large;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .adventure-detail-content {
    .adventure-detail-info {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;
    }
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  .adventure-detail-content, .adventure-detail-header {
    padding: 40px 0;
  }
}

/* Contributer Styles */
$contributor-image-size: 60px;

.contributor {
  width: 100%;
  float: left;
  margin: 20px 0;
  &-image {
    width: $contributor-image-size;
    height: $contributor-image-size;
    border-radius: math.div($contributor-image-size, 2);
    object-fit: cover;
    float: left;
  }

  &-name {
    margin-left: $contributor-image-size + 20px;
    font-family: $font-family-serif;
  }

  &-occupation {
    margin-left: $contributor-image-size + 20px;
    margin-top: 0em;
  }

  &-separator {
    border-width: 1px solid $gray-light;
    margin-top: 2em;
    margin-bottom: 2em;
  }

}