/*
Copyright 2020 Adobe
All Rights Reserved.
NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
@import '../styles/variables';

$adventureItemWidth: 420px;
$adventureItemHeight: 360px;

$adventureItemWidthMobile: 300px;
$adventureItemHeightMobile: 250px;


.adventures {
  padding: 70px;
  background-color: $white;
  color: $black;
  text-align: left;

  & > h1 {
    padding-bottom: 40px;
  }

  & > h1, &> ul {
    max-width: $max-width;
    margin: 0 auto;
  } 
}

.adventure-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  grid-column-gap: 40px;
}

.adventure-item {
  margin: 0 0 2rem;
}
  
.adventure-image-card {
  .adventure-item-image {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
} 

.adventure-item-title {
  margin-bottom: 5px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 41px;
}
  
  .adventure-item-details {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;

    > div {
      display: flex;
      align-items: center;
    }
    
    > :not(.adventure-item-price) {
      border: 1px solid $gray;
      text-transform: capitalize;
    }

    .adventure-item-price{
      background: $black;
      color: $white;
    }
  }


  .card {
    padding: 20px 10px;
    border-radius: 4px;
    font-family: sans-serif;
    display: flex;
    line-height: 1.5em;
    img {
      width: 400px;
      margin: 0 20px;
    }
    button {
      margin-top: 10px;
    }
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    .adventures {
      padding: $tablet-padding;
    }

    .adventure-items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    .adventure-items {
      grid-template-columns: 1fr;
    }
  }