/*
Copyright 2023 Adobe
All Rights Reserved.
NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
@import '../styles/variables';

.articles {
  padding: 70px;
  text-align: left;
  max-width: $max-width;
  margin: 0 auto;
}
.article-item {
  list-style: none;
  column-gap: 30px;
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #eee;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  .article-item-image {
    max-width: 350px;
    max-height: 350px;
  }

  .article-content{
    align-self: flex-end;
  }
}
@media only screen and (max-width: $mobile-breakpoint) {
  .article-item {
    display:inherit;
  }
}