/*
Copyright 2023 Adobe
All Rights Reserved.
NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
@import '../styles/variables';

.Teaser {
  background-color: #141414;
  width: 100%;
  color: #FFFFFF;
  padding: 40px 80px 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

  article {
    grid-column: 1/3;
    grid-row: 1;
    z-index: 2;
    color: $white;

    > div {
      margin: 50px 0;
    }

    .pill {
      border: 1px solid $white;
    }

    .pill:first-child {
      margin-right: 10px;
    }
  }
  img {
    border-radius: 16px;
    max-width: 100%;
    grid-column: span 3;
    grid-column: 2 / 6;
    grid-row: 1;
    opacity: 0.6;
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  .Teaser {
    padding: $tablet-padding;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .Teaser {
    display: flex;
    flex-direction: column-reverse;
  }
}