/*
Copyright 2020 Adobe
All Rights Reserved.
NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
/* Normalize */
@import './styles/variables';
@import './styles/fonts';

body {
    background-color: $black;
    font-family: $font-family-base;
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
    text-align: left;
    color: $white;
    line-height: $line-height-base;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
line-height: $line-height-base;
font-weight: 500; 
}

h1, .h1,
h2, .h2,
h3, .h3 {
margin-top: $line-height-computed;
margin-bottom: calc($line-height-computed / 2);
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

a {
  text-decoration: none;
}

h1 a, h2 a, h3 a {
    color: $text-color;
}

h1 u, h2 u, h3 u {
    text-decoration: none;
    border-bottom: 1px #ededed solid;
}

// Body text
// -------------------------

p {
margin: 0 0 calc($line-height-computed / 2);
font-size: $font-size-base;
line-height: $line-height-base + 0.75;
text-align: justify;
}

a {
  cursor: pointer;
}

ul {
    list-style-position: inside;
}

ol, ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

hr {
    border: none;
    border-bottom: 1px solid $gray;
    margin: 0;
}

button {
  background-color: $button-color;
  color: $black;
  padding: 12px 40px;
  font-size: $font-size-base;
  font-family: $font-family-base;
  border: 1px solid $black;
  border-radius: 4px;
  min-width: 4rem;
  margin-right: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #C4E018;
  }

  &:focus, &:active{
    background-color: #ABC123;
  }
  &.dark {
    border: 1px solid $white;
    background: inherit;
    color: $white;
  }
}

.pill {
  padding: 11px 16px 13px;
  border-radius: 20px
}
.pill.default {
  border: 1px solid #696969;
}

// Error
.error {
  /*position: absolute;
  top: 50%;
  left: 0;*/
  margin-top: 2em;
  width: 100%;
  text-align: left;

  &-message {
    color: $red;
  }

}

// Loading
.loading {
  position: absolute;
  top: 40%;
  width: 100%;
  left: 0;
  text-align: center;
}

.customfont {
  font-family: "Crimson Pro", Arial, sans-serif;
}

.menu a, .article-item article a:first-child {
  color: $white;
}

.article {
  > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
  }
  li {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    img {
      align-self: end;
    }
  }
  footer {
    width: 80%;
    margin-top: 50px;
    border-top: 1px solid #ccc;
    font-size: 0.75rem;

    > p {
      font-size: inherit;
    }
  }
  img {
    position:relative;
  }
  img:after {
    content: attr(alt);
    color: rgb(100, 100, 100);
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    background-image: url("./images/wknd-card.jpeg")
  }
}

.header, .footer {
  background-color: $black;
  color: $white;
  display: grid;
  align-items: center;
  max-width: $max-width;
  margin: 0 auto;
  .logo {
    height: 24px;
  }
  .menu {
    margin: 0;
    display: flex;
    column-gap: 40px;
  }
}
.header {
  padding: 0 80px;
  justify-items: center;
  grid-template-columns: 1fr 4fr 1fr;
  a {
    justify-self: flex-start;
  }
  .logo {
    margin: 44px 0;
  }
  button {
    white-space: nowrap;
    justify-self: flex-end;
    margin: 0;
  }
}
.footer {
  padding: 40px 80px;
  grid-template-columns: 1fr 1fr;
  nav, small {
    justify-self: end;
  }
  small {
    padding: 40px 0;
    color: $gray;
    grid-column: span 2;
  }
}

.container img {
  max-width: 50%;
}

@media only screen and (max-width: $tablet-breakpoint) {
  .header, .footer {
    padding: $tablet-padding;
  }
  .header {
    .logo {
      margin: 0;  
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .header {
    button {
      display:none;
    }
  }
  .header, .footer {
    grid-template-columns: 1fr 1.5fr;
    white-space: nowrap;
    column-gap: 10px;
  }
}