.menuWrapper {
  z-index: 100;

  .menuList {
    list-style: none;
    text-align: right;

    .menuListItem {
      border-right: 2px solid black;
      padding: 8px 6px;
      font-weight: 400;
      letter-spacing: 0.28px;
      font-family: source-sans-pro;
      text-transform: uppercase;
      font-size: 14px;
      transition: all 0.3s ease-in-out;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;

      &:hover,
      &:focus,
      &.active {
        transition: all 0.3s ease-in-out;
        font-size: 18px;
        letter-spacing: 0.36px;
        border-right: 4px solid black;
        padding-right: 5px;
        margin-right: -1px;
        font-weight: 600;
      }
      &.active {
        cursor: default;
      }
    }
  }
}

.textLayer {
  max-width: $contentMaxWidth;
  padding: $contentPadding;
  height: 100%;
  width: 100%;
  gap: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;

  .h2 {
    font-size: 60px;
    @media screen and (max-width: 840px) {
      font-size: 40px;
    }
    font-family: Asar, "Times New Roman", Times, serif;
  }
  .h3 {
    font-size: 34px;
    font-family: Asar, "Times New Roman", Times, serif;
  }
  .thin {
    font-weight: 400;
  }
  .bold {
    font-weight: 700;
  }
  .sourceSerif {
    font-family: source-serif-pro;
  }
  .yellowBox {
    color: black;
    font-family: source-sans-pro;
    letter-spacing: 0.4px;

    &.h2 {
      font-size: 18px;
    }
    &.h3 {
      font-size: 14px;
    }
  }

  .left,
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .left {
    align-items: flex-start;
    gap: 20px;
  }
  .right {
    align-items: flex-end;
  }

  .columnWrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5% 35%;
    &.noPadding {
      padding: 5% 10%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    // prettier-ignore
    &.top-left{justify-content: flex-start;align-items: flex-start;} // prettier-ignore
    &.top-center{justify-content: flex-start;align-items: center;} // prettier-ignore
    &.top-right{justify-content: flex-start;align-items: flex-end;} // prettier-ignore
    &.center-left{justify-content: center;align-items: flex-start;} // prettier-ignore
    &.center-right{justify-content: center;align-items: flex-end;} // prettier-ignore
    &.bottom-left{justify-content: flex-end;align-items: flex-start;} // prettier-ignore
    &.bottom-center{justify-content: flex-end;align-items: center;} // prettier-ignore
    &.bottom-right{justify-content: flex-end;align-items: flex-end;} // prettier-ignore
  }

  .span {
    color: $gray;
    font-size: 14px;
    font-family: source-sans-pro;
    &.L {
      font-size: 18px;
    }
  }

  .bold {
    font-weight: 600;
  }
  .white {
    color: white;
  }
  .alignCenter {
    text-align: center;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .yellowButton {
    font-size: 14px;
    padding: 12px 16px;
    font-weight: 600;
    font-family: source-sans-pro;
  }
  .darkButton {
    font-family: source-sans-pro;
    font-size: 14px;
    padding: 16px 40px;
    font-weight: 600;
    color: white;
    background-color: $dark;

    &:hover {
      background-color: black;
    }
  }
}

.wrapperForRatio {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.pointTextLayer {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  height: 100%;

  .pointTextItemWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 2px;
    height: 2px;

    .textWrapper {
      width: 150px;
      margin-bottom: 20px;
      background-color: $blue;
      padding: 4px 12px;
      color: white;
      border-radius: 4px;
      position: relative;
      cursor: pointer;

      .text {
        font-family: source-sans-pro;
        transition: all 0.3s ease-in-out;
        opacity: 1;
      }
      .buyText {
        position: absolute;
        text-align: center;
        padding: 0px 4px 3px 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        width: 90%;
        border: 2px solid white;
        border-radius: 999px;
        background-color: $blue;

        transition: all 0.3s ease-in-out;
        opacity: 0;
        > a {
          font-family: source-sans-pro;
        }
      }
    }
    .textWrapper:hover {
      .text {
        opacity: 0;
      }
      .buyText {
        opacity: 1;
      }
    }

    .arrow {
      position: absolute;
      top: calc(100% - 1px);
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 10px;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      background-color: $blue;
    }

    .dot {
      background-color: white;
      border: black solid 2px;
      // margin bot but be minus half of dot radius
      margin-bottom: -7.5px;
      border-radius: 50%;
      width: 15px;
      min-height: 15px;
    }
  }
}
